extends layout

block content
    h1.
        #{vendors.BUSINESS_NAME}
    h2.
        Status: #{vendors.STATUS} 
        <br />
        Location: #{vendors.LOCATION} 
        <br />
        Food type: #{vendors.DESCRIPTION} 